.nav {

    grid-area: n;
    background-color: rgb(49, 48, 47) ;
    padding: 50px;
}
.item a {
 font-size: 18px;
    color: rgb(20, 70, 161);
    text-decoration: none;
    padding: 15px;
}
 .item a.activeLink {

 color: rgb(27, 179, 85);

 }
 